

body {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
 	font-family:arial;
}

.intro img {
	display: block;
	float: right;
	vertical-align: middle;
	padding-right: 30px;
}


.stick_figure img {
	display: block;
	float: left;
	vertical-align: middle;
	padding-right: 15px;
	padding-bottom: 15px;
}


p {
  padding: 0px 0px 10px 0px;
}

a:link{color:#0000FF;}
a:visited{color:#0000FF;}
a:hover{text-decoration:underline;}

header h1{
	display: inline;
}
nav li {
	display: inline;
}




#gt_container {
	width:900px;
	margin-left: auto;
	margin-right: auto;
}
#gt_container #left {
	width:200px;
	float:left;
}
#gt_container #right {
	width:700px;
	float:right;
}
