h1 { font-size: 320%; font-weight:550; }
h2 { font-size: 200%; font-weight:550; }
h3 { font-size: 150%; font-weight:normal; }



body {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	line-height: 1.25;
	font-size: 125%;
 	font-family:Optima, Palatino, verdana;
}



hr { /*horizontal line*/
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


.stick_figure img {
	display: block;
	float: left;
	vertical-align: middle;
	padding-right: 15px;
	padding-bottom: 15px;
}


p {
  padding: 0px 0px 10px 0px;
}

a:link{color:#0000FF;}
a:visited{color:#0000FF;}
a:hover{text-decoration:underline;}

header h1{
	display: inline;
}
nav li {
	display: inline;
}


#intro_container {
	/*width:900px;*/
	margin-left: auto;
	margin-right: auto;
	display:flex; /*content in column won't overflow*/
}
#intro_container img {
	display: block;
	float: left;
	vertical-align: middle;
	padding-right: 30px;
	padding-bottom: 15px;
}


#gt_container {
	/*width:900px;*/
	margin-left: auto;
	margin-right: auto;
	display:flex; /*content in column won't overflow*/
}
#gt_container #left {
	width:25%;
	float:left;
}
#gt_container #right {
	width:auto;
	float:right;
}




a:link, a:visited {
    color: #00A3FF; /* Bright lively blue */
    text-decoration: none; /* Removes underline */
}

a:hover {
    color: #007ACC; /* Slightly darker blue on hover */
    text-decoration: underline dotted grey; /* Adds dotted grey underline on hover */
}
